@model DeleteConfirmationModel

@{
    Layout = "~/Views/Confirmation/_ConfirmationPageLayout.cshtml";
    ViewBag.PageTitle = "Xác nhận xoá dữ liệu";
}

<div id="delete-confirmation-panel" class="panel">
    <div class="panel-header bg-yellow-500/10 border-yellow-700/25">
        <div class="panel-header-title text-yellow-500 dark:text-yellow-400">
            Xác nhận xoá dữ liệu
        </div>
    </div>

    <div class="panel-body">
        <i class="bi bi-exclamation-triangle-fill text-yellow-500 dark:text-yellow-400 text-4xl"></i>
        <div>
            <span>Bạn có chắc chắn muốn xoá dữ liệu này?</span><br/>
            <span>Dữ liệu đã xoá có khả năng sẽ không thể được khôi phục.</span>
        </div>
    </div>

    <div class="panel-footer">
        <a href="#" onclick="history.back(); return false;" class="btn">
            <i class="bi bi-chevron-left"></i>
            <span>Quay lại</span>
        </a>

        <form action="@Model.ActionUrl" method="post">
            <button type="submit" class="btn btn-danger-outline">
                <i class="bi bi-trash3"></i>
                <span>Xác nhận xoá</span>
            </button>
        </form>
    </div>
</div>