@{
    Layout = "~/Views/Confirmation/_ConfirmationPageLayout.cshtml";
    ViewBag.PageTitle = "Không tìm thấy trang";
}

<div id="not-found-error-panel" class="panel">
    <div class="panel-header bg-transparent">
        <div class="panel-header-title text-red-600 dark:text-red-400">
            Trang hoặc dữ liệu không tồn tại
        </div>
    </div>

    <div class="panel-body">
        <i class="bi bi-exclamation-circle-fill text-red-600 dark:text-red-400 text-4xl"></i>
        <div>
            <span>Trang hoặc dữ liệu bạn yêu cầu không tồn tại hoặc đã bị xoá.</span><br/>
            <span>Nếu đây là một lỗi bất thường, xin hãy thông báo cho nhà phát triển.</span>
        </div>
    </div>

    <div class="panel-footer">
        <a asp-action="Index" asp-controller="Dashboard" class="btn gap-2">
            <i class="bi bi-house"></i>
            <span>Quay lại trang chủ</span>
        </a>
    </div>
</div>