@import "tailwindcss";
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

html {
    font-family: "Roboto", "IBM Plex Sans", "Libre Franklin", Helvetica, Arial, sans-serif;
}

input {
    background: white;
    border-radius: 5px;
    padding: 3px;
    transition: .25s ease;
    box-shadow: none;
    outline: none;
    @apply: border-red-600;
}