@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "tailwindcss" important;
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --html-background: rgba(0, 0, 0, 0.02);
    --color-primary: var(--color-black);
    --color-primary-foreground: var(--color-white);
    --color-secondary: var(--color-white);
    --color-danger: var(--color-red-600);
    --color-success: var(--color-emerald-500);
    --color-hinting: var(--color-blue-600);
}

html {
    --topbar-height: 60px;
    --border-color: rgba(0, 0, 0, 0.1);
    background: var(--html-background);
    font-family: Roboto, Helvetica, Roboto, Arial, sans-serif;
    font-size: 14px;
    overscroll-behavior: none;

    &.dark {
        --html-background: black;
        --color-primary: var(--color-white);
        --color-primary-foreground: var(--color-black);
        --color-secondary: var(--color-black);
        color: white;
        color-scheme: dark;
    }
}

a:not(.hover\:underline):not(.hover\:overline):not(.hover\:line-through):not(.hover\:no-underline):hover {
    text-decoration: underline;
}

input {
    html.dark & {
        color-scheme: dark;
    }
}

input:not([type="checkbox"]), select, textarea {
    --padding-inline: calc(var(--spacing) * 2);
    --padding-block: calc(var(--spacing) * 1);
    background: rgba(0, 0, 0, 2.5%);
    border: 1px solid rgba(0, 0, 0, 15%);
    border-radius: var(--radius-lg);
    padding-inline: var(--padding-inline);
    padding-block: var(--padding-block);
    /* box-shadow: var(--shadow-xs); */
    transition: .2s linear, outline .1s linear;
    outline: 0.15rem solid transparent;
    min-height: calc(var(--spacing) * 9);

    /* .form-field.valid:not(:disabled) & {
        background: oklch(from var(--color-emerald-500) l c h / 5%);
        color: var(--color-emerald-700);
        border-color: oklch(from var(--color-emerald-500) l c h / 100%);

        &:focus {
            border-color: var(--color-emerald-500);
            outline-color: oklch(from var(--color-emerald-500) l c h / 15%);
        }
    } */

    .form-field.invalid:not(:disabled) & {
        background: oklch(from var(--color-red-500) l c h / 5%);
        color: var(--color-red-500);
        border-color: oklch(from var(--color-red-500) l c h / 70%);

        &:focus {
            outline-color: oklch(from var(--color-red-500) l c h / 15%);
        }
    }

    html.dark & {
        background: rgba(255, 255, 255, 2.5%);
        border-color: rgba(255, 255, 255, 0.15);

        &:focus {
            border-color: rgba(255, 255, 255, 0.5);
            outline-color: rgba(255, 255, 255, 30%);
        }

        /* .form-field.valid:not(:disabled) & {
            background: oklch(from var(--color-emerald-600) l c h / 10%);
            color: var(--color-emerald-600);
            border-color: oklch(from var(--color-emerald-600) l c h / 70%);

            &:focus {
                border-color: var(--color-emerald-600);
                outline-color: oklch(from var(--color-emerald-500) l c h / 15%);
            }
        } */

        .form-field.invalid:not(:disabled) & {
            background: oklch(from var(--color-red-600) l c h / 10%);
            color: var(--color-red-600);
            border-color: oklch(from var(--color-red-600) l c h / 70%);

            &:focus {
                border-color: var(--color-red-600);
                outline-color: oklch(from var(--color-red-500) l c h / 15%);
            }
        }
    }

    &:focus {
        border-color: rgba(0, 0, 0, 50%);
        outline-color: rgba(0, 0, 0, 15%);
        box-shadow: var(--shadow-md);
    }

    &:disabled {
        opacity: 50%;
        cursor: default;
    }
}

textarea {
    min-height: calc(var(--spacing) * 30);
}

select {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.75em center;
    background-size: .9em auto;
    appearance: none;
    -webkit-appearance: none !important;
    position: relative;

    html.dark & {
        color: white;
    }
}

input[type="checkbox"] {
    border: 3px solid red !important;
    accent-color: var(--color-indigo-500);

    &::after {
        content: "123";
        background: red;;
        width: 10px;
        height: 10px;
    }
}

.button {
    --padding-inline-coeffecient: 2;
    --padding-block-coeffecient: 1;
    --min-height-coeffecient: 9;
    background: rgba(255, 255, 255, 10%);
    color: rgba(0, 0, 0, 80%);
    border: 1px solid rgba(0, 0, 0, 15%);
    border-radius: var(--radius-lg);
    padding-inline: calc(var(--spacing) * var(--padding-inline-coeffecient));
    padding-block: calc(var(--spacing) * var(--padding-block-coeffecient));
    min-height: calc(var(--spacing) * var(--min-height-coeffecient));
    transition: .25s ease;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: var(--shadow-xs); */

    &:hover {
        background: rgba(0, 0, 0, 10%);

        &:is(a) {
            text-decoration: none !important;
        }
    }

    html.dark & {
        background: oklch(from var(--color-neutral-800) l c h / 100%);
        color: var(--color-white);
        border-color: rgba(255, 255, 255, 15%);

        &:hover {
            background: rgba(255, 255, 255, 10%);
        }
    }

    &:disabled {
        opacity: 50%;
        pointer-events: none;
    }

    &.primary {
        background: black;
        color: white;
        border-color: black;

        html.dark & {
            background: var(--color-neutral-200);
            color: black;
            border-color: white;

            &:hover {
                background: var(--color-neutral-300);
                border-color: var(--color-neutral-100);
            }
        }

        &:hover {
            background: rgba(0, 0, 0, 70%);
            border-color: rgba(0, 0, 0, 70%);
        }
    }

    &.danger {
        background: var(--color-red-500);
        color: white;
        border-color: var(--color-red-500);

        &.outline-only {
            background: white;
            color: var(--color-red-500);
        }

        &:hover {
            background: var(--color-red-600);
            
            &.outline-only {
                color: white;
            }
        }

        html.dark & {
            background: var(--color-red-700);
            color: white;
            border-color: var(--color-red-600);

            &.outline-only {
                background: var(--color-neutral-800);
                color: var(--color-red-500);
            }

            &:hover {
                background: var(--color-red-800);

                &.outline-only {
                    color: white;
                }
            }
        }
    }

    & > svg {
        --size-coeffecient: 4.5;
        width: calc(var(--spacing) * var(--size-coeffecient));
        height: calc(var(--spacing) * var(--size-coeffecient));
    }

    &.small {
        --padding-inline-coeffecient: 1.5;
        --padding-block-coeffecient: 0.85;
        --min-height-coeffecient: 7;
        font-size: var(--text-sm);
        border-radius: var(--radius-md);

        & > svg {
            --size-coeffecient: 3.5;
        }
    }

    &.as-input {
        background: rgba(0, 0, 0, 2.5%);

        &:hover {
            background: rgba(0, 0, 0, 10%);
        }

        html.dark {
            background: rgba(255, 255, 255, 2.5%);

            &:hover {
                background: rgba(255, 255, 255, 15%);
            }
        }
    }
}

.form-field {
    & label, & .validation-message {
        font-size: var(--text-sm);
    }

    & label {
        opacity: 75%;
    }

    &.valid, &.invalid label {
        opacity: 75%;
    }

    /* &.valid {
        & .validation-message::after {
            content: "Hợp lệ";
        }

        & label, & .validation-message {
            color: var(--color-emerald-700);
        }

        html.dark & label, html.dark & .validation-message {
            color: var(--color-emerald-300);
        }
    } */

    &.invalid {
        & label, & .validation-message {
            color: var(--color-red-500);
        }
    }
}

.list-group {
    --border-color: rgba(0, 0, 0, 10%);
    list-style: none;
    border: 1px solid var(--border-color);
    border-radius: var(--radius-lg);

    html.dark & {
        --border-color: rgba(255, 255, 255, 10%);
    }

    & li:not(:last-child) {
        border-bottom: 1px solid var(--border-color);
    }
}