@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --html-background: rgba(0, 0, 0, 0.02);
    --color-primary: var(--color-black);
    --color-primary-foreground: var(--color-white);
    --color-secondary: var(--color-white);
    --color-danger: var(--color-red-600);
    --color-success: var(--color-emerald-500);
    --color-hinting: var(--color-blue-600);
}

html {
    --topbar-height: 60px;
    --border-color: rgba(0, 0, 0, 0.1);
    background: var(--html-background);
    font-family: Roboto, Helvetica, Roboto, Arial, sans-serif;
    font-size: 14px;
    overscroll-behavior: none;
}

html.dark {
    --html-background: black;
    --color-primary: var(--color-white);
    --color-primary-foreground: var(--color-black);
    --color-secondary: var(--color-black);
    color: white;
}

a:not(.hover\:underline):not(.hover\:overline):not(.hover\:line-through):not(.hover\:no-underline):hover {
    text-decoration: underline;
}

input:not([type="checkbox"]), select {
    --padding-inline: calc(var(--spacing) * 2);
    --padding-block: calc(var(--spacing) * 1);
    background: white;
    border: 1px solid rgba(0, 0, 0, 10%);
    border-radius: var(--radius-lg);
    padding-inline: var(--padding-inline);
    padding-block: var(--padding-block);
    box-shadow: var(--shadow-xs);
    transition: .2s linear, outline .1s linear;
    outline: 0.15rem solid transparent;
    min-height: calc(var(--spacing) * 9);

    .form-field.valid:not(:disabled) & {
        background: oklch(from var(--color-emerald-500) l c h / 5%);
        color: var(--color-emerald-500);
        border-color: oklch(from var(--color-emerald-500) l c h / 70%);

        &:focus {
            border-color: var(--color-emerald-500);
            outline-color: oklch(from var(--color-emerald-500) l c h / 15%);
        }
    }

    .form-field.invalid:not(:disabled) & {
        background: oklch(from var(--color-red-500) l c h / 5%);
        color: var(--color-red-500);
        border-color: oklch(from var(--color-red-500) l c h / 70%);

        &:focus {
            outline-color: oklch(from var(--color-red-500) l c h / 15%);
        }
    }

    html.dark & {
        background: var(--color-neutral-800);
        border-color: rgba(255, 255, 255, 0.15);

        &:focus {
            border-color: rgba(255, 255, 255, 0.5);
            outline-color: rgba(255, 255, 255, 30%);
        }

        .form-field.valid:not(:disabled) & {
            background: oklch(from var(--color-emerald-600) l c h / 10%);
            color: var(--color-emerald-600);
            border-color: oklch(from var(--color-emerald-600) l c h / 70%);

            &:focus {
                border-color: var(--color-emerald-600);
                outline-color: oklch(from var(--color-emerald-500) l c h / 15%);
            }
        }

        .form-field.invalid:not(:disabled) & {
            background: oklch(from var(--color-red-600) l c h / 10%);
            color: var(--color-red-600);
            border-color: oklch(from var(--color-red-600) l c h / 70%);

            &:focus {
                border-color: var(--color-red-600);
                outline-color: oklch(from var(--color-red-500) l c h / 15%);
            }
        }
    }

    &:focus {
        border-color: rgba(0, 0, 0, 50%);
        outline-color: rgba(0, 0, 0, 15%);
        box-shadow: var(--shadow-md);
    }

    &:disabled {
        opacity: 50%;
        cursor: default;
    }

    &.invalid {
        background: var(--color-red-50);
        color: var(--color-red-800);
        border-color: var(--color-red-300);

        &:focus {
            border-color: var(--color-red-500);
            outline-color: var(--color-red-200);
        }
    }
} */

input[type="checkbox"] {
    border: 3px solid red !important;
    accent-color: var(--color-indigo-500);

    &::after {
        content: "123";
        background: red;;
        width: 10px;
        height: 10px;
    }
}

.button {
    --padding-inline: calc(var(--spacing) * 2);
    --padding-block: calc(var(--spacing) * 1);
    background: white;  
    color: rgba(0, 0, 0, 80%);
    border: 1px solid rgba(0, 0, 0, 15%);
    border-radius: var(--radius-lg);
    padding-inline: var(--padding-inline);
    padding-block: var(--padding-block);
    transition: .25s ease;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    box-shadow: var(--shadow-xs);

    html.dark & {
        background: var(--color-neutral-800);
        color: var(--color-white);
        border-color: oklch(from var(--color-white) l c h / 15%);
    }

    &:hover {
        filter: brightness(.95);
    }

    html.dark &:hover {
        background: var(--color-neutral-800);
        color: var(--color-white);
        border-color: oklch(from var(--color-white) l c h / 20%);
    }

    &.primary {
        background: black;
        color: white;
        border-color: black;

        html.dark & {
            background: white;
            color: black;
            border-color: white;
        }

        &:hover {
            background: rgba(0, 0, 0, 70%);
            border-color: rgba(0, 0, 0, 70%);
        }
    }
}

.form-field {
    & label, & .validation-message {
        font-size: var(--text-sm);
    }

    & label {
        opacity: 75%;
    }

    &.valid, &.invalid label {
        opacity: 75%;
    }

    &.valid {
        & label, & .validation-message {
            color: var(--color-emerald-700);
        }

        html.dark & label, html.dark & .validation-message {
            color: var(--color-emerald-300);
        }
    }

    &.invalid {
        & label, & .validation-message {
            color: var(--color-red-500);
        }
    }
}