# Ignore build output directories
bin/
obj/

# Ignore VS Code settings
.vscode/
.vs/
.idea/
LICENSE
global.json
NATSInternal.sln.DotSettings
NATSInternal.sln.DotSettings.user
.github/
NATSInternal.API/wwwroot/images/user/
/NATSInternal.API/NATSInternal.API.csproj.user
/NATSInternal.Blazor
/NATSInternal.MVC
/NATSInternal.Svelte
