@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "tailwindcss";

@theme {
    --color-primary: var(--color-black);
    --color-primary-foreground: var(--color-white);
    --color-secondary: var(--color-white);
    --color-danger: var(--color-red-400);
    --color-success: var(--color-emerald-500);
    --color-hinting: var(--color-blue-600);
}

html {
    --border-color: rgba(0, 0, 0, 0.1);
    font-family: Roboto, Helvetica, Roboto, Arial, sans-serif;
    font-size: 14px;
    overscroll-behavior: none;
}

a:not(.hover\:underline):not(.hover\:overline):not(.hover\:line-through):not(.hover\:no-underline):hover {
    text-decoration: underline;
}

/* input:not([type="checkbox"]) {
    background: white;
    border: 1px solid var(--border-color);
    border-radius: var(--radius-lg);
    padding: .35rem .5rem;
    box-shadow: var(--shadow-xs);
    transition: .2s linear, outline .1s linear;
    outline: 0 solid;

    &:focus {
        border-color: var(--color-primary);
        outline: 3px solid rgba(from var(--color-primary) r g b, 15%);
        box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.08);
    }

    &.invalid {
        background: var(--color-red-50);
        color: var(--color-red-800);
        border-color: var(--color-red-300);
    }

    &.invalid:focus {
        border-color: var(--color-red-500);
        outline-color: var(--color-red-200);
    }
} */

/* input[type="checkbox"] {
    border: 3px solid red !important;
    accent-color: var(--color-indigo-500);

    &::after {
        content: "123";
        background: red;;
        width: 10px;
        height: 10px;
    }
} */

/* button {
    --solid-hover-filter: brightness(1.35);
    background: white;
    border: 1px solid var(--border-color);
    border-radius: var(--radius-lg);
    padding: .35rem .5rem;
    transition: .25s ease;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow-xs);

    &:hover {
        filter: brightness(.97);
    }

    &:active {
        filter: brightness(.9);
    }

    &:disabled {
        filter: opacity(.5);
        cursor: default;
    }

    &.indigo {
        background: var(--color-indigo-500);
        color: white;
        border-color: var(--color-indigo-500);

        &:hover {
            filter: var(--solid-hover-filter);
        }
    }

    &.indigo-outline {
        background: white;
        color: var(--color-indigo-500);
        border-color: var(--color-indigo-500);

        &:hover {
            background: var(--color-indigo-500);
            color: white;
            border-color: var(--color-indigo-500);
        }
    }

    &.red {
        background: var(--color-red-500);
        color: white;
        border-color: var(--color-red-500);

        &:hover {
            background: var(--color-red-400);
            border-color: var(--color-red-400);
        }
    }

    &.red-outline {
        background: white;
        color: var(--color-red-500);
        border-color: var(--color-red-500);

        &:hover {
            background: var(--color-red-500);
            color: white;
            border-color: var(--color-red-500);
        }
    }

    &.primary {
        background: var(--color-primary);
        color: white;
        border-color: var(--color-primary);

        &:hover {
            background: rgba(var(--color-primary), 0.7);
            border-color: rgba(var(--color-primary), 0.7);
        }
    }
} */