@model PaginationRangeModel
@functions {
    private string PaginationButtonClassName(int page)
    {
        string className = "";
        if (page == Model.Page)
        {
            className += "active";
        }

        bool exceedLeft = page < Model.SmallScreenStartingPage;
        bool exceedRight = page > Model.SmallScreenEndingPage;
        if (exceedLeft || exceedRight)
        {
            className += " d-sm-flex d-none";
        }

        return className;
    }
}

@if (Model.PageCount > 1)
{
    <div class="d-flex flex-row justify-content-center mb-5">
        <button class="btn mx-1 btn-outline-primary page-button"
                disabled="@(Model.Page == 1)">
            Trang đầu
        </button>
        @for (int i = Model.LargeScreenStartingPage; i <= Model.LargeScreenEndingPage; i++)
        {
            <button class="btn mx-1 btn-outline-primary page-button
                            @PaginationButtonClassName(i)">
            </button>
        }
        <button class="btn mx-1 btn-outline-primary page-button"
                disabled="@(Model.Page == Model.PageCount)">
            Trang cuối
        </button>
    </div>
}