@inherits LayoutComponentBase

<div id="app">
    <div class="container-fluid d-flex flex-column justify-content-center m-0 p-0">
        <div class="row">
            <!-- Main logo (top left corner)-->
            <div class="col col-auto d-flex flex-row bg-white border-end border-bottom
                        border-default overflow-hidden ps-3 p-2 align-items-center"
                    id="main-logo">
                <img src="/images/main-logo.png">
                <div class="flex-fill d-lg-block d-md-none d-sm-none d-none">
                    <span class="text-primary fs-5 ms-2">NATSInternal</span>
                </div>
            </div>

            <div class="col bg-white border-bottom border-default p-2 d-flex" id="topbar">
                <div class="row gx-md-4 gx-sm-3 gx-3 h-100 w-100 flex-row
                            justify-content-end align-items-center">
                    <!-- Search bar -->
                    <div class="col col-auto h-100 flex-fill d-md-flex d-sm-none d-none">
                        <partial name="Layout/TopBar/SearchBarPartial" />
                    </div>

                    <!-- Add order -->
                    <div class="col col-auto h-100 d-flex align-items-center">
                        <a href="/">
                            <i class="bi bi-cart-plus text-primary fs-4"></i>
                        </a>
                    </div>

                    <!-- Add customer -->
                    <div class="col col-auto h-100 d-flex align-items-center">
                        <a href="/">
                            <i class="bi bi-person-add text-primary fs-4"></i>
                        </a>
                    </div>

                    <!-- Notification -->
                    <div class="col col-auto h-100 d-flex align-items-center">
                        <NotificationComponent />
                    </div>

                    <!-- Current user + avatar -->
                    <div class="col col-auto h-100">
                        <CurrentUserComponent />
                    </div>

                    <!-- Navigation bar + toggler (only display on extra small screen) -->
                    <div class="col col-auto h-100 d-sm-none d-flex">
                        <button class="btn bg-default border border-primary-subtle p-0"
                                type="button" id="navbar-toggler"
                                data-bs-toggle="offcanvas"
                                data-bs-target="#offcanvas-navbar"
                                aria-controls="offcanvas-navbar"
                                aria-label="Toggle navigation">
                            <i class="bi bi-list"></i>
                        </button>
                        <MobileNavigationBarComponent />
                    </div>
                </div>
            </div>
        </div>

        <div class="row flex-fill">
            <!-- Sidebar -->
            <div class="col col-auto d-sm-flex d-none flex-column align-items-center
                        bg-white border-end border-default"
                    id="sidebar">
                <NavigationBarComponent KeepExpanded="@true" />
            </div>

            <!-- Main content -->
            <div class="col h-100 p-0">
                <div class="col col-12" id="content">
                    <div class="container-fluid d-flex flex-column justify-content-center
                                pb-5"
                            id="user-list">
                        @Body
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>