@model UserListModel
@functions {
    private string FormId => "user-list-form";
    private string RoleButtonClassName(string roleName)
    { 
        string color = Html.RoleBootstrapColor(roleName);
        return $"bg-{color} bg-opacity-10 border-{color}-subtle text-{color}";
    }
}

<div class="row mt-3 g-0">
    <!-- Left column --> 
    <div class="col col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="row g-3 mb-2 pb-2 prtialsadf">
            <div class="col col-12">
                <partial name="UserList/UserListFiltersPartial" />
            </div>
        </div>

        <!-- User list result items -->
        <div class="row g-3 justify-content-start">
            @foreach (UserBasicModel user in Model.Items)
            {
                <div class="col col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 mb-3">
                    <partial name="UserList/UserListItemPartial" model="user" />
                </div>
            }
        </div>
        
        <!-- Pagination -->
        <div class="col col-12">
            <partial name="~/Views/Shared/MainPaginationPartial.cshtml"
                    model="Model.PaginationRanges" />
        </div>
    </div>

    <!-- Right column -->
    <div class="col col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="row g-3">
            <div class="col col-xl-12 col-lg-6 col-md-6 col-12 mb-3">
                <!-- Joined user list -->
                <partial name="UserList/JoinedRecentlyUserListPartial"
                        model="Model.JoinedRecentlyUsers" />
            </div>
            <div class="col col-xl-12 col-lg-6 col-md-6 col-12 mb-3">
                <!-- Upcoming birthday list -->
            </div>
        </div>
    </div>
</div>
<script>
    const userListController = useUserListController(
        @Json.Serialize(FormId),
        "order-direction-button",
        @Json.Serialize(Html.IdFor(model => model.OrderByAscending)));
</script>

@section PageTitle { Danh sách nhân viên }
@section Styles {
    <link href="/css/user-list.css" rel="stylesheet" />
}