@model BrandLi

<div class="panel">
    <div class="panel-header">
        <div class="panel-header-title">
            Danh sách @Model.DisplayName.ToLower()
        </div>
    </div>
    
    <div class="panel-body">
        @if (Model.Items.Count > 0)
        {
            <ul class="list-group list-group-flush">
                @foreach (ProductListSecondaryListItemModel item in Model.Items)
                {
                    <li class="font-bold px-3 py-2">
                        @item.Name
                    </li>
                }
                
                @if (Model.Items.Count < )
            </ul>
        }
    </div>
</div>