@model ProductUpsertModel
@{
    Layout = "Layouts/_MainContainer";
    ViewBag.PageTitle = "Chỉnh sửa sản phẩm";
    ViewBag.BreadcrumbItems = new List<BreadcrumbItemModel>
    {
        new("Sản phẩm", Url.Action("List", "Product")),
        new("Chi tiết", Url.Action("Detail", "Product")),
        new("Chỉnh sửa", Url.Action("Create", "Product"))
    };

    ViewBag.FormAction = Url.Action("Update", "Product", new { Id = Model.Id });
}

<div id="product-update-page" class="flex flex-col gap-3">
    <form asp-action="Update"
            asp-route-id="@Model.Id"
            method="post"
            id="product-upsert-form"
            class="flex flex-col gap-3">
        @Html.AntiForgeryToken()
        <partial name="~/Views/Product/ProductUpsert/_DetailPanel.cshtml" />
        <partial name="~/Views/Product/ProductUpsert/_StockPanel.cshtml" />
        
        <div class="flex justify-end gap-3">
            <partial name="~/Views/Shared/Form/SubmitButton.cshtml" model="@("product-upsert-form")" />
        </div>
    </form>
</div>

@section PageDescription {
    Chỉnh sửa một sản phẩm đang tồn tại, bao gồm thông tin về thương hiệu và phân loại (nếu có).
}