@model ProductDetailModel

<div class="panel">
    <div class="panel-header">
        <span class="panel-header-title">
            Giao dịch gần đây
        </span>
    </div>
    
    <div class="panel-body">
        <div class="flex px-3 py-10 justify-center items-center opacity-50">
            Không có giao dịch nào
        </div>
    </div>
</div>