button.page-button:not(:hover):not(:focus):not(:is(.active)) {
    background: white !important;
    color: var(--font-color) !important;
    border-color: rgba(var(--bs-primary-rgb), 0.25);
}

button.page-button.active {
    background: var(--bs-primary) !important;
    color: white !important;
    border-color: var(--bs-primary);
}

.input-group select {
    background-color: rgba(var(--bs-primary-rgb), 0.1) !important;
}

.input-group select:not(:focus) {
    border-color: var(--bs-primary-border-subtle) !important;
    border-right-width: 0 !important;
}

.input-group select:disabled {
    background-color: rgba(var(--bs-secondary-rgb), 0.1) !important;
}

.input-group select option {
    background-color: white;
}