<div class="panel">
    <div class="panel-header">
        <div class="panel-header-title">
            Giao dịch gần nhất
        </div>
    </div>
    
    <div class="panel-body flex justify-center items-center py-5">
        <span class="opacity-50">
            Không có giao dịch nào
        </span>
    </div>
</div>