#customer-upsert-introducer-panel[data-should-focus] {
    border-radius: var(--radius-lg);
    animation-name: panel-focus-animation;
    animation-duration: .35s;
    animation-iteration-count: 5;
}

@keyframes panel-focus-animation {
    0% {
        box-shadow: 0 0 0 var(--color-emerald-500);
    }
    
    50% {
        box-shadow: 0 0 15px var(--color-emerald-500);
    }

    100% {
        box-shadow: 0 0 0 var(--color-emerald-500);
    }
}