#customer-detail-page {
    @layer components {
        .field-container {
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        .field-label {
            font-size: var(--text-sm);
            min-width: --spacing(35);
            opacity: 50%;
            white-space: nowrap;

            @media (min-width: theme(screens.sm)) {
                font-size: var(--text-base);
            }

            @media (min-width: theme(screens.md)) {
                font-size: var(--text-sm);
                min-width: --spacing(40);
            }

            @media (min-width: theme(screens.xl)) {
                font-size: var(--text-base);
            }
        }

        .field-content {
            color: var(--color-blue-700);
            margin-bottom: --spacing(3);

            @media (min-width: theme(screens.sm)) {
                margin-bottom: --spacing(1.5);
            }

            @media (min-width: theme(screens.md)) {
                margin-bottom: --spacing(3);
            }

            @media (min-width: theme(screens.xl)) {
                margin-bottom: --spacing(1.5);
            }
            
            @variant dark {
                & {
                    color: var(--color-blue-400);
                }
            }
        }
    }
}

@utility male {
    color: var(--color-blue-700);

    @variant dark {
        & {
            color: var(--color-blue-400);
        }
    }
}


@utility female {
    color: var(--color-red-700);

    @variant dark {
        & {
            color: var(--color-red-400);
        }
    }
}