.form-group .form-floating .form-label {
    font-weight: normal;
    background: transparent !important;
}

#app {
    max-width: unset !important;
}

.container-fluid {
    width: 100vw;
    max-width: 100%;
    min-height: 100%;
}

.block {
    border-radius: 0.5rem;
}