@using NATSInternal.Blazor.Components.Form
@namespace NATSInternal.Blazor.Components.User.Detail

<MainBlock Title="Thông tin cá nhân" BodyPadding="(2, 2, 2, 2)">
    <BlockBodyContent>
        <!-- Gender -->
        <div class="row gx-3">
            <div class="col col-12">
                <FieldLabel Text="Giới tính" />
            </div>
            <div class="col field">
                <span>@(Model.Gender == Gender.Male ? "Nam" : "Nữ")</span>
            </div>
        </div>
            
        <!-- Birthday -->
        @if (Model.Birthday.HasValue)
        {
            <div class="row gx-3 mt-3">
                <div class="col col-12">
                    <FieldLabel Text="Ngày sinh" />
                </div>
                <div class="col field">
                    <span>@Model.Birthday.Value.ToVietnameseString()</span>
                </div>
            </div>
        }

        <!-- PhoneNumber -->
        @if (Model.PhoneNumber != null)
        {
            <div class="row gx-3 mt-3">
                <div class="col col-12">
                    <FieldLabel Text="Số điện thoại" />
                </div>
                <div class="col field">
                    <span>@Model.PhoneNumber</span>
                </div>
            </div>
        }

        <!-- Email -->
        @if (Model.Email != null)
        {
            <div class="row gx-3 mt-3">
                <div class="col col-12">
                    <FieldLabel Text="Email" />
                </div>
                <div class="col field">
                    <span>@Model.Email</span>
                </div>
            </div>
        }
    </BlockBodyContent>
</MainBlock>

@code {
    [Parameter, EditorRequired]
    public UserPersonalInformationModel Model { get; set; }
}
