@import "tailwindcss";

.tableBlock {
    --border-color: rgba(0, 0, 0, 10%);

    :global(html.dark) & {
        --border-color: rgba(255, 255, 255, 10%);
    }

    & :global(td), & :global(th) {
        border-style: solid;
        border-color: var(--border-color);
        border-bottom-width: 1px;
        padding-inline: calc(var(--spacing) * 3);
    }

    & :global(td) {
        padding-block: calc(var(--spacing) * 1);
    }

    & :global(td) {
        padding-block: calc(var(--spacing) * 2);
    }

    & :global(tr:last-child td) {
        border-bottom-width: 0;
    }

    & :global(td:not(:last-child)), & :global(th:not(:last-child)){
        border-right-width: 1px;
    }
}