@model AbstractListModel
@{
    Layout = "Layouts/_MainContainer";
    if (ViewBag.CreateRoutePath is null)
    {
        throw new InvalidOperationException($"[ViewVag.{nameof(ViewBag.CreateRoutePath)}] has not been set.");
    }

    int[] resultsPerPageOptions = new[] { 10, 15, 20, 30, 40, 50 };
}

<form asp-controller="Customer"
        asp-action="List"
        method="get"
        id="searchable-list-filter-form"
        class="flex flex-col items-strech gap-3">
    <!-- Filter -->
    <div class="panel">
        <!-- Header -->
        <div class="panel-header">
            <div class="panel-header-title">
                Tìm kiếm và sắp xếp
            </div>
        </div>

        <!-- Body -->
        <div class="panel-body">
            <div class="flex flex-col items-stretch gap-3 p-3">
                <div class="grid grid-cols-[1fr_auto_auto] gap-3">
                    <input asp-for="SearchContent" type="text" placeholder="Tìm kiếm"/>
                    <button type="submit" class="btn gap-1">
                        <i class="bi bi-search"></i>
                        <span class="hidden sm:inline">Tìm kiếm</span>
                    </button>
                    <button type="button" class="btn gap-1">
                        <i class="bi bi-filter-left"></i>
                        <span class="hidden sm:inline">Sắp xếp</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Pagination -->
    <partial name="Ui/_Paginator" />

    <!-- Results Table -->
    <div class="panel">
        <div class="panel-header">
            <span class="panel-header-title">Danh sách kết quả</span>
            <div class="flex gap-3 items-center">
                <select asp-for="ResultsPerPage" class="small">
                    @foreach (int option in resultsPerPageOptions)
                    {
                        <option value="@option">@option</option>
                    }
                </select>
                <a href="@ViewBag.CreateRoutePath" class="btn btn-sm btn-panel-header gap-1">
                    <i class="bi bi-plus-lg"></i>
                    <span class="hidden sm:inline">Tạo mới</span>
                </a>
            </div>
        </div>
        
        <div class="panel-body">
            @RenderBody()
        </div>
    </div>
    
    <!-- Pagination -->
    <partial name="Ui/_Paginator" />
</form>

@section Styles
{
    @await RenderSectionAsync("Styles", required: false)
}

@section Scripts
{
    @await RenderSectionAsync("Scripts", required: false)
}

@section PageDescription
{
    @await RenderSectionAsync("PageDescription", required: true)
}
