@model CustomerUpsertModel

<div class="flex flex-col gap-3 px-4 pt-2.5 pb-4">
    <div class="flex flex-col gap-3 px-4 pt-2.5 pb-4">
        <!-- FirstName -->
        <div class="form-field">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" type="text" class="form-control" placeholder="Nguyễn" />
            <span asp-validation-for="FirstName"></span>
        </div>
    </div>
</div>