@model CustomerUpsertModel

<div id="customer-upsert-introducer-panel" class="panel transition-opacity duration-200">
    <div class="panel-header">
        <span class="panel-header-title">
            Người giới thiệu
        </span>
    </div>

    <div class="panel-body flex justify-stretch items-center gap-3 p-3">
        @if (Model.PickedIntroducer is not null)
        {
            <partial name="~/Views/Customer/CustomerUpsert/_IntroducerPanelPickedIntroducer.cshtml"
                    model="Model.PickedIntroducer" />
        }
        else
        {
            <partial name="~/Views/Customer/CustomerUpsert/_IntroducerPanelCustomerList.cshtml"
                    model="Model.CustomerList" />
        }
    </div>
</div>