@model CustomerUpsertModel
@{
    Layout = "Layouts/_MainContainer";
    ViewBag.PageTitle = "Chỉnh sửa khách hàng";
    ViewBag.FormAction = Url.Action("Update", "Customer", new { id = Model.Id });
    ViewBag.CustomerListExcludedId = Model.Id;
}

<div id="customer-update-page" class="flex flex-col gap-3">
    <partial name="~/Views/Customer/CustomerUpsert/_PersonalInformationPanel.cshtml"/>

    <partial name="~/Views/Customer/CustomerUpsert/_IntroducerPanel.cshtml"/>

    <div class="flex justify-end gap-3">
        <partial name="~/Views/Shared/Form/SubmitButton.cshtml" model="@("customer-upsert-form")" />
    </div>
</div>

@section PageDescription {
    Chỉnh sửa một khách hàng đang tồn tại, bao gồm thông tin cá nhân và người giới thiệu (nếu có).
}