@model CustomerUpsertModel
@{
    Layout = "Layouts/_MainContainer";
    ViewBag.PageTitle = "Chỉnh sửa khách hàng";
    ViewBag.FormId = "customer-update-form";
    ViewBag.FormAction = Url.Action("Update", "Customer", new { id = Model.Id });
}

<form id="@ViewBag.FormId" action="@ViewBag.FormAction" method="post" class="flex flex-col gap-3">
    @Html.AntiForgeryToken()
    <partial name="~/Views/Customer/CustomerUpsert/_PersonalInformationPanel.cshtml"/>

    <partial name="~/Views/Customer/CustomerUpsert/_IntroducerPanel.cshtml"/>

    <div class="flex justify-end gap-3">
        <button asp-for="Action" value="@CustomerUpsertModel.SubmitAction.Submit" type="submit" class="btn gap-2">
            <i class="bi bi-floppy"></i>
            <span>Lưu dữ liệu</span>
        </button>
    </div>
</form>

@section PageDescription {
    Chỉnh sửa một bản ghi dữ liệu của một khách hàng đang tồn tại,
    bao gồm thông tin cá nhân và người giới thiệu (nếu có).
}