@model CustomerUpsertIntroducerModel

<div id="customer-introducer-picker-modal" class="modal transition-opacity">
    <div class="modal-dialog">
        <!-- Header and Body -->
        <partial name="_ModalContent.cshtml"/>

        <!-- Footer -->
        <div class="modal-dialog-footer">
            <button type="button" id="customer-introducer-picker-modal-cancel-button" class="btn h-fit">
                Huỷ bỏ
            </button>
        </div>
    </div>
</div>