@model CustomerBasicModel

<div class="flex justify-between items-center w-full gap-3">
    <div class="flex flex-col">
        <a asp-new-tab="@true" class="text-lg font-bold" href="@Model.GetDetailRoutePath(Url)">
            <span id="introducer-full-name">@Model.FullName</span>
        </a>
        <span class="opacity-50 text-sm">@Model.NickName</span>
    </div>
            
    <button type="button" class="btn btn-danger outline-only btn-sm aspect-square shrink-0 grow-0">
        <i class="bi bi-x-lg"></i>
    </button>
</div>