@model CustomerListModel

<ul class="list-group">
    @if (Model.Items.Count > 0)
    {
        foreach (CustomerListCustomerModel customer in Model.Items)
        {
            <li class="list-group-item flex justify-between items-center px-3 py-2">
                <div class="flex flex-col">
                    <a asp-new-tab class="font-bold" href="@customer.GetDetailRoutePath(Url)">
                        @customer.FullName
                    </a>
                    
                    <span class="text-sm opacity-75">
                        @customer.NickName
                    </span>
                </div>
        
                <button type="button"
                        class="btn btn-sm aspect-square introducer-pick-button"
                        data-introducer-id="@customer.Id">
                    <i class="bi bi-check-lg"></i>
                </button>
            </li>
        }
    }
</ul>

<partial name="~/Views/Shared/Ui/_Paginator.cshtml" />