@layer components {
    .alert {
        --background-color: var(--color-black);
        --text-color: var(--color-white);
        --border-color: transparent;
        --font-size: var(--text-sm);
        --padding: --spacing(0) --spacing(1);

        background-color: var(--background-color);
        color: var(--text-color);
        font-size: var(--font-size);
        border: 1px solid var(--border-color);
        border-radius: var(--radius-md);
        padding: var(--padding);
        flex-shrink: 0;

        @variant dark {
            & {
                --background-color: var(--color-white);
                --text-color: var(--color-black);
            }
        }
    }
}

@utility alert-emerald {
    --background-color: var(--color-emerald-600);
    --text-color: var(--color-white);

    @variant dark {
        & {
            --background-color: var(--color-emerald-400);
            --text-color: var(--color-black);
        }
    }
}

@utility alert-emerald-outline {
    --background-color: --alpha(var(--color-emerald-600) / 10%);
    --text-color: var(--color-emerald-600);
    --border-color: var(--color-emerald-600);

    @variant dark {
        & {
            --background-color: --alpha(var(--color-emerald-400) / 10%);
            --text-color: var(--color-emerald-400);
            --border-color: var(--color-emerald-400);
        }
    }
}

@utility alert-red {
    --background-color: --alpha(var(--color-red-600) / 10%);
    --border-and-text-color: var(--color-red-600);

    @variant dark {
        & {
            --background-color: --alpha(var(--color-red-400) / 15%);
            --border-and-text-color: var(--color-red-400);
        }
    }
}

@utility alert-yellow {
    --background-color: var(--color-yellow-600);
    --text-color: var(--color-white);

    @variant dark {
        & {
            --background-color: var(--color-yellow-400);
            --text-color: var(--color-black);
        }
    }
}

@utility alert-yellow-outline {
    --background-color: --alpha(var(--color-yellow-600) / 10%);
    --text-color: var(--color-yellow-600);
    --border-color: var(--color-yellow-600);

    @variant dark {
        & {
            --background-color: --alpha(var(--color-yellow-400) / 10%);
            --text-color: var(--color-yellow-400);
            --border-color: var(--color-yellow-400);
        }
    }
}

@utility alert-red {
    --background-color: var(--color-red-600);
    --text-color: var(--color-white);

    @variant dark {
        & {
            --background-color: var(--color-red-400);
            --text-color: var(--color-black);
        }
    }
}

@utility alert-red-outline {
    --background-color: --alpha(var(--color-red-600) / 10%);
    --text-color: var(--color-red-600);
    --border-color: var(--color-red-600);

    @variant dark {
        & {
            --background-color: --alpha(var(--color-red-400) / 10%);
            --text-color: var(--color-red-400);
            --border-color: var(--color-red-400);
        }
    }
}

@utility alert-neutral {
    --background-color: var(--color-neutral-600);
    --text-color: var(--color-white);

    @variant dark {
        & {
            --background-color: var(--color-neutral-400);
            --text-color: var(--color-black);
        }
    }
}

@utility alert-neutral-outline {
    --background-color: --alpha(var(--color-neutral-600) / 10%);
    --text-color: var(--color-neutral-600);
    --border-color: var(--color-neutral-600);

    @variant dark {
        & {
            --background-color: --alpha(var(--color-neutral-400) / 10%);
            --text-color: var(--color-neutral-400);
            --border-color: var(--color-neutral-400);
        }
    }
}

@utility alert-sm {
    --font-size: var(--text-xs);
}