@layer components {
    .form-field {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: stretch;

        &:where(label), &:where(.field-validation-valid), &:where(.field-validation-error) {
            font-size: var(--text-sm);
        }

        &:where(label) {
            opacity: 75%;
        }

        &:has(.field-validation-valid):where(label), &:has(.field-validation-valid):where(label) {
            opacity: 75%;
        }

        &:has(.field-validation-error) {
            :where(label), :where(.field-validation-error) {
                color: var(--color-red-500);
            }
        }
    }

    .form-input-group {
        display: flex;
        flex: 1;
        align-items: stretch;

        & :not(:first-child) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        & :not(:last-child) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    .form-input-group-text {
        background-color: --alpha(var(--color-yellow-950) / 5%);
        border: 1px solid --alpha(var(--color-black) / 15%);
        border-radius: var(--radius-lg);
        padding: --spacing(1) --spacing(3);

        @variant dark {
            & {
                background: --alpha(var(--color-white) / 5%);
                border-color: --alpha(var(--color-white) / 15%);
            }
        }
    }
} 