@layer components {
    .form-field {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: stretch;

        &:where(label), &:where(.field-validation-valid), &:where(.field-validation-error) {
            font-size: var(--text-sm);
        }

        &:where(label) {
            opacity: 75%;
        }

        &:has(.field-validation-valid):where(label), &:has(.field-validation-valid):where(label) {
            opacity: 75%;
        }

        &:has(.field-validation-error) {
            :where(label), :where(.field-validation-error) {
                color: var(--color-red-500);
            }
        }
    }
} 