@layer components {
    .table {
        --row-height: calc(var(--spacing) * 10);
        --border-width: 1px;
        --border-color: rgba(0, 0, 0, 15%);
        --odd-row-background-color: rgba(0, 0, 0, 5%);
        table-layout: fixed;
        width: 100%;
        margin: 0;
        padding: 0;
        border-collapse: collapse;

        html.dark & {
            --border-color: rgba(255, 255, 255, 15%);
            --odd-row-background-color: rgba(255, 255, 255, 3%);
        }

        & > thead > tr > th,
        & > tbody > tr:not(:last-child) > td {
            border-bottom: var(--border-width) solid var(--border-color);
        }

        & > thead > tr > th,
        & > tbody > tr > td {
            padding-inline: calc(var(--spacing) * 3);
        }

        & > thead > tr > th {
            font-size: var(--text-sm);
            padding-block: calc(var(--spacing) * 0.5);
        }

        & > tbody > tr > td {
            padding-block: calc(var(--spacing) * 1.5);
        }

        & > tbody > tr:nth-child(odd) {
            background-color: var(--odd-row-background-color);
        }

        & > thead > tr > th:not(:last-child),
        & > tbody > tr > td:not(:last-child) {
            border-right: var(--border-width) solid var(--border-color);
        }
    }
}

@utility table-row-height-* {
    & > tbody > tr > td {
        height: --value([integer]);
    }
}

@utility table-extra-empty-rows-as-background {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 100%;
        width: 100%;
        height: 999px;
        background-image: repeating-linear-gradient(
            180deg,
            /* 1st border (half)  */
            var(--border-color) 0,
            var(--border-color) calc(var(--border-width) / 2),
            /* 1st row */
            var(--odd-row-background-color) calc(var(--border-width) / 2),
            var(--odd-row-background-color) var(--row-height),
            /* 2nd border */
            var(--border-color) calc(var(--row-height) - (var(--border-width) / 2)),
            var(--border-color) calc(var(--row-height) + (var(--border-width) / 2)),
            /* 2nd row */
            transparent calc(var(--row-height) + (var(--border-width) / 2)),
            transparent calc(var(--row-height) + (var(--row-height) - (var(--border-width) / 2))),
        ) !important;
    }
}