@layer components {
    .form-control {
        --padding-inline: --spacing(2);
        --padding-block: --spacing(1);
        --min-height-coeffecient: 9;
        background-color: rgba(0, 0, 0, 2.5%);
        border: 1px solid rgba(0, 0, 0, 15%);
        border-radius: var(--radius-lg);
        padding-inline: var(--padding-inline);
        padding-block: var(--padding-block);
        transition: .2s linear, outline .1s linear;
        outline: 1px solid transparent;
        min-height: calc(var(--spacing) * var(--min-height-coeffecient));

        &:focus {
            border-color: var(--color-blue-500);
            outline-color: var(--color-blue-500);
            box-shadow: var(--shadow-md);
        }

        &:disabled {
            opacity: 50%;
            cursor: default;
        }

        @variant dark {
            background-color: rgba(255, 255, 255, 2.5%);
            border-color: rgba(255, 255, 255, 15%);
            color-scheme: dark;

            &:focus {
                border-color: var(--color-blue-500);
                outline-color: var(--color-blue-500);
            }

            .form-field.invalid:not(:disabled) & {
                background: oklch(from var(--color-red-600) l c h / 10%);
                color: var(--color-red-600);
                border-color: oklch(from var(--color-red-600) l c h / 70%);

                &:focus {
                    border-color: var(--color-red-600);
                    outline-color: oklch(from var(--color-red-500) l c h / 15%);
                }
            }
        }

        .form-field:has(.field-validation-error) &:not(:disabled) {
            background: oklch(from var(--color-red-500) l c h / 5%);
            color: var(--color-red-500);
            border-color: oklch(from var(--color-red-500) l c h / 70%);

            &:focus {
                outline-color: oklch(from var(--color-red-500) l c h / 15%);
            }
        }

        &:is(textarea) {
            min-height: --spacing(30);
        }

        &:is(select) {
            background-image: url("../images/chevron-down-black.svg");
            background-repeat: no-repeat;
            background-position: right 0.75em center;
            background-size: .9em auto;
            appearance: none;
            -webkit-appearance: none !important;
            min-width: --spacing(18);
            cursor: pointer;

            @variant dark {
                & {
                    background-image: url("../images/chevron-down-white.svg");
                }
            }
        }

        @variant dark {
            & option {
                background-color: var(--color-neutral-800);
            }
        }
    }

    /*:is(input[type="checkbox"]) {*/
    /*    border: 3px solid red !important;*/
    /*    accent-color: var(--color-indigo-500);*/
    
    /*    &::after {*/
    /*        content: "123";*/
    /*        background: red;;*/
    /*        width: 10px;*/
    /*        height: 10px;*/
    /*    }*/
    /*}*/
}

@utility form-control-sm {
    --padding-inline-coeffecient: 1.5;
    --padding-block-coeffecient: 0.85;
    --min-height-coeffecient: 7;
    font-size: var(--text-sm);
    border-radius: var(--radius-md);
}

@utility form-control-panel-header {
    background-color: white;
    border-color: rgba(0, 0, 0, 20%);

    &:focus {
        border-color: rgba(0, 0, 0, 50%);
        outline-color: rgba(0, 0, 0, 15%);
        box-shadow: var(--shadow-md);
    }
    
    @variant dark {
        & {
            background-color: var(--color-neutral-800);
            border-color: rgba(255, 255, 255, 20%);
        }
    }
}