input {
    html.dark & {
        color-scheme: dark;
    }
}

input:not([type="checkbox"]), select, textarea {
    --padding-inline: calc(var(--spacing) * 2);
    --padding-block: calc(var(--spacing) * 1);
    --min-height-coeffecient: 9;
    background-color: rgba(0, 0, 0, 2.5%);
    border: 1px solid rgba(0, 0, 0, 15%);
    border-radius: var(--radius-lg);
    padding-inline: var(--padding-inline);
    padding-block: var(--padding-block);
    /* box-shadow: var(--shadow-xs); */
    transition: .2s linear, outline .1s linear;
    outline: 0.25rem solid transparent;
    min-height: calc(var(--spacing) * var(--min-height-coeffecient));

    /* .form-field.valid:not(:disabled) & {
        background: oklch(from var(--color-emerald-500) l c h / 5%);
        color: var(--color-emerald-700);
        border-color: oklch(from var(--color-emerald-500) l c h / 100%);

        &:focus {
            border-color: var(--color-emerald-500);
            outline-color: oklch(from var(--color-emerald-500) l c h / 15%);
        }
    } */

    .form-field:has(.field-validation-error) &:not(:disabled) {
        background: oklch(from var(--color-red-500) l c h / 5%);
        color: var(--color-red-500);
        border-color: oklch(from var(--color-red-500) l c h / 70%);

        &:focus {
            outline-color: oklch(from var(--color-red-500) l c h / 15%);
        }
    }

    html.dark & {
        background-color: rgba(255, 255, 255, 2.5%);
        border-color: rgba(255, 255, 255, 0.15);
        outline-width: 0.25rem;

        &:focus {
            border-color: rgba(255, 255, 255);
            outline-color: rgba(255, 255, 255, 30%);
        }

        /* .form-field.valid:not(:disabled) & {
            background: oklch(from var(--color-emerald-600) l c h / 10%);
            color: var(--color-emerald-600);
            border-color: oklch(from var(--color-emerald-600) l c h / 70%);

            &:focus {
                border-color: var(--color-emerald-600);
                outline-color: oklch(from var(--color-emerald-500) l c h / 15%);
            }
        } */

        .form-field.invalid:not(:disabled) & {
            background: oklch(from var(--color-red-600) l c h / 10%);
            color: var(--color-red-600);
            border-color: oklch(from var(--color-red-600) l c h / 70%);

            &:focus {
                border-color: var(--color-red-600);
                outline-color: oklch(from var(--color-red-500) l c h / 15%);
            }
        }
    }

    &:focus {
        border-color: rgba(0, 0, 0, 75%);
        outline-color: rgba(0, 0, 0, 15%);
        box-shadow: var(--shadow-md);
    }

    &:disabled {
        opacity: 50%;
        cursor: default;
    }

    &.small {
        --padding-inline-coeffecient: 1.5;
        --padding-block-coeffecient: 0.85;
        --min-height-coeffecient: 7;
        font-size: var(--text-sm);
        border-radius: var(--radius-md);

        & > svg {
            --size-coeffecient: 3.5;
        }
    }
}

textarea {
    min-height: calc(var(--spacing) * 30);
}

select {
    background-image: url("../images/chevron-down-black.svg");
    background-repeat: no-repeat;
    background-position: right 0.75em center;
    background-size: .9em auto;
    appearance: none;
    -webkit-appearance: none !important;
    min-width: calc(var(--spacing) * 18);

    html.dark & {
        background-image: url("../images/chevron-down-white.svg");
    }
}

input[type="checkbox"] {
    border: 3px solid red !important;
    accent-color: var(--color-indigo-500);

    &::after {
        content: "123";
        background: red;;
        width: 10px;
        height: 10px;
    }
}