@layer components {
    .panel {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        box-sizing: border-box;
        
        & > .panel-header {
            background-color: --alpha(var(--color-black) / 10%);
            border: 1px solid --alpha(var(--color-black) / 15%);
            display: flex;
            justify-content: space-between;
            gap: --spacing(3);
            align-items: center;
            min-height: --spacing(10);
            padding-left: --spacing(3);
            padding-right: --spacing(1.5);
            padding-block: --spacing(1.5);
            border-top-left-radius: var(--radius-lg);
            border-top-right-radius: var(--radius-lg);
            
            @variant dark {
                background-color: --alpha(var(--color-white) / 10%);
                border-color: --alpha(var(--color-white) / 15%);
            }
            
            & > .panel-header-title {
                font-size: var(--text-sm);
                font-weight: bold;
                text-transform: uppercase;
            }
        }
        
        & > .panel-body {
            border-color: --alpha(var(--color-black) / 15%);
            border-inline-width: 1px;
            border-inline-style: solid;
            flex: 1;
            overflow: hidden;
            
            .panel:not(:has(.panel-footer)) > & {
                border-bottom-width: 1px;
                border-bottom-style: solid;
                border-bottom-left-radius: var(--radius-lg);
                border-bottom-right-radius: var(--radius-lg);
            }
            
            @variant dark {
                border-inline-color: --alpha(var(--color-white) / 15%);
            }
        }
        
        & > .panel-footer {
            border: 1px solid --alpha(var(--color-black) / 10%);
            border-bottom-radius: var(--radius-lg);
            display: flex;
            justify-content: stretch;
            padding: --spacing(3);
        }
    }
}