#user-list .all-role-button {
    --color: 111, 66, 193;
    color: rgb(var(--color)) !important;
    background-color: rgba(var(--color), 0.1) !important;
    border-color: rgba(var(--color), 0.4);
}

#user-list button.page-button:not(:hover):not(:focus):not(:is(.active)) {
    background: white !important;
    color: var(--font-color) !important;
    border-color: rgba(var(--bs-primary-rgb), 0.25);
}

#user-list button.page-button.active {
    background: var(--bs-primary) !important;
    color: white !important;
    border-color: var(--bs-primary);
}

#user-list .input-group select {
    background-color: rgba(var(--bs-primary-rgb), 0.1) !important;
}

#user-list .input-group select:not(:focus) {
    border-color: var(--bs-primary-border-subtle) !important;
    border-right-width: 0 !important;
}

#user-list .input-group select:disabled {
    background-color: rgba(var(--bs-secondary-rgb), 0.1) !important;
}

#user-list .input-group select option {
    background-color: white;
}


#user-list .user-list-item .avatar-container {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
}

#user-list .user-list-item .avatar-container img {
    object-fit: cover;
    object-position: 50% 50%;
    aspect-ratio: 1;
    width: 100%;
    height: 100%;
}

#user-list .user-list-item a:has(.fullname) {
    color: inherit !important;
    text-decoration: none;
}

#user-list .user-list-item a:has(.fullname):hover {
    text-decoration: underline;
}