.data-table :global(th),
.data-table :global(tr.summary),
.data-table :global(tr:not(.summary)) :global(td:not(:nth-child(2))) {
    white-space: nowrap !important;
}

.data-table :global(th) {
    vertical-align: middle;
    border-bottom: 1px solid --alpha(var(--color-neutral-900) / 25%);

    @variant dark {
        & {
            border-bottom: 1px solid --alpha(var(--color-neutral-50) / 20%);
        }
    }
}

.data-table :global(td) {
    vertical-align: top;
}

.data-table :global(tr.summary) {
    text-align: end;
}

.data-table :global(td:not(:nth-child(-n + 4))) {
    text-align: right;
}
