.mainContainer {
    width: 1536px;
    height: 100%;
    min-height: 100vh;
}

@media (max-width: 1536px) {
    .mainContainer {
        width: 1280px;
    }
}

@media (max-width: 1280px) {
    .mainContainer {
        width: 1024px;
    }
}

@media (max-width: 1024px) {
    .mainContainer {
        width: 768px;
    }
}

@media (max-width: 768px) {
    .mainContainer {
        width: 640px;
    }
}

@media (max-width: 640px) {
    .mainContainer {
        width: 100%;
    }
}