.navigationBar {
    background: white;
    padding: 10px 5px;
    border-right: 1px solid var(--color-indigo-500);
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;

    & > .item.active {
        color: var(--color-indigo-500);
        box-shadow: var(--box-shadow-md);
    }
}