.rootLayout {
    background: rgba(0, 0, 0, 0.025);
    width: 100vw;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}