.navigationBarItem {
    & .tooltip {
        visibility: hidden;
    }
}

@media (min-width: 48rem) {
    .navigationBarItem:hover .tooltip {
        visibility: visible;
    }
}

@media (min-width: 64rem) {
    .navigationBarItem:hover .tooltip {
        visibility: hidden;
    }
}